= form_for [:admin, @user] do |f|
	= f.error_messages

	#email
		= f.label :email
		= f.text_field :email
	
	#password
		= f.label :password
		= f.password_field :password
	
	#password_confirmation
		= f.check_box :admin
		= f.label :admin, "Is an admin?"

	= f.submit